.none {
 display: none !important;
}

body {
 background: rgba(0, 155, 255, 0.38);
 font-family: sans-serif;
}

p {
 margin: 0 0 5px;
}

.article {
 background: #ffffff;
 width: 600px;
 margin: 0 0 25px;
 padding: 13px 15px;
}

.news__author {
 text-decoration: underline;
 color: #007DDC;
}

.news__count {
 margin: 10px 0 0 0;
 display: block;
}

.test-input {
margin: 0 15px 15px 0;
}
